/* ============================================================================
									General CSS
   ============================================================================ */

html, body {
	background-color: black;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: hemi-head-bd-it;
	src: url('../fonts/hemi-head-426/hemi-head-bd-it.ttf');
}

#canvas {
	width: 100%;
	height: 100%;
	touch-action: none;
}

h1{
 font-family: hemi-head-bd-it;
}

#tutoMenu, #startingMenu, #endMenu, #currentLevel {
	font-family: hemi-head-bd-it;
	position: absolute;
	width: 100%;
	height: 100%;
}

button{
	font-family: hemi-head-bd-it;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #34a853;
}


.btn-white {
    background-color: none;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#currentLevel .levelNB{
	background-color: green;
	border: 2px solid black;
	border-radius: 10px;
	opacity: 0.8;
	color: black;
	padding: 5px;
	margin: 5px;
	display: inline-block;
}

/* ============================================================================
									Tuto Menu
   ============================================================================ */
 #tutoMenu .greenbox {
	 border: 5px solid black;
	 border-radius: 15px;
	 background-color: green;
	 margin: 4%;
	 padding: 2%;
	 opacity: 0.8;
	 color: white;
 }

#tutoMenu h2 {
	text-shadow: 2px 2px #000;
}
#tutoMenu .button {
	text-align: center;
}

#tutoMenu .arrow_keys {
	height: 50px;
}
#tutoMenu .space_key {
	height: 25px;
}

#tutoMenu .commandes {
	text-align: center;
}
#tutoMenu .selectDifficulty {
	text-align: center;
}
#tutoMenu .selectDifficulty td img{
	width: 30%;
}

#tutoMenu .selectDifficulty td img:hover{
	width: 20%;
}
/* ============================================================================
									Start Menu
   ============================================================================ */
#startingMenu .btn {
	margin-top: 20%;
}
#startingMenu h1{
	font-size: 7em;
	color: green;
	text-shadow: 10px 10px #FFF;
}
#startingMenu p, #startingMenu h1{
	text-align: center;
}

/* ============================================================================
									Loading Menu
   ============================================================================ */
#loadingMenu {
	margin-top: 15%;
	text-align: center;
}
#loadingMenu h1{
  color: white;
  font-weight: bolder;
	font-size: 250%;
}
.lds-ripple {
  position: relative;
	display: block;
	margin-left: 38%;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #ff6600;
  opacity: 1;
  border-radius: 100%;
  animation: lds-ripple 2s cubic-bezier(0, 0.1, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 180px;
    left: 180px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 360px;
    height: 360px;
    opacity: 0;
  }
}

/* ============================================================================
									End Menu
   ============================================================================ */
 #endMenu .greenbox {
	 border: 5px solid black;
	 border-radius: 15px;
	 background-color: green;
	 margin: 4%;
	 padding: 2%;
	 opacity: 0.8;
	 color: white;
 }

#endMenu h2 {
	text-shadow: 2px 2px #000;
}

 #endMenu .btn {
	margin-top: 20%;
}

#endMenu p, #startingMenu h1{
	text-align: center;
}
