html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#canvas {
	width: 100%;
	height: 100%;
	touch-action: none;
	display: none;
}

#loadingMenu {
	
	display: none;
	margin: auto;
    width: 100px;
	position: absolute;
	
	/* this is for vetical align */
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#loadingMenu h1{
    color: grey;
    font-weight: bolder;
	display: inline-block;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 250%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
 
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #ff6600;
  opacity: 1;
  border-radius: 100%;
  animation: lds-ripple 2s cubic-bezier(0, 0.1, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 5;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 250%;
}